<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome Lee Music App</h1>
    <% if logged_in?%>
    <%else%>
      <a href="<%= new_user_url%>">Sign Up Here</a>
    <%end%>
    <%= yield %>
  </body>
</html>
