<table>
    <tr>
        <th>name</th>
        <th>DOB</th>
        <th>Sex</th>
        <th>Color</th>
        <th>Description</th>
    </tr>
    <tr>
        <td> <%= @cat.name %> </td>
        <td><%= @cat.birth_date %></td>
        <td><%= @cat.sex %></td>
        <td><%= @cat.color %></td>
        <td><%= @cat.description %></td>
    </tr>
</table>